body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); 

}


a:link {
  color: white;
  text-decoration: none
}

a:visited {
  color: white;
  text-decoration: none
}

a:hover {
  color: #7067CE
}

/* h1 {
  animation:blinkingText 2s infinite;
}

@keyframes blinkingText{
  0%{     color: white;    }
  49%{    color: white }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: white;    }
} */