body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #7067CF;
}

/* .list {
  flex: 1;
  overflow-y: scroll;
} */
